-
  const cardsContent3 = [
    {
      isBig: true,
      mod: "big",
      link: "#",
      img: {
        name: "big-card",
        width: 800,
        height: 432,
        alt: "",
      },
      format: "Oнлайн",
      start: "старт в любой момент",
      title: "Блог врача в Instagram",
      description: "Душевный маркетинг от&nbsp;практика и&nbsp;владельца бизнеса. Постройте очередь на&nbsp;приём из&nbsp;пациентов, которые хотят лечиться только у&nbsp;вас.",
      speakers: [
        {
          name: "Варвара<br>Висленко",
          img: {
            name: "image-author-1",
            width: 48,
            height: 48,
            alt: "Фото спикера",
          },
        },
      ],
    },
    {
        link: "#",
        img: {
          name: "course-3",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oфлайн",
        start: "19, 20 марта",
        title: "Протезирование молочек и&nbsp;постоянных",
        description: "Практический курс для детских стоматологов с&nbsp;видеотрансляцией операций",
        speakers: [
          {
            name: "Варвара<br>Висленко",
            img: {
              name: "image-author-1",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
          {
            name: "Ксения<br>Акмуллина",
            img: {
              name: "image-author-5",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
      {
        link: "#",
        img: {
          name: "course-1",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oнлайн",
        start: "старт в&nbsp;любой момент",
        title: "Мастер имплантологии, 1-й цикл",
        description: "Это уникальный курс, который закроет все вопросы, связанные с&nbsp;имплантацией",
        speakers: [
          {
            name: "Иван<br>Курдюмов",
            img: {
              name: "image-author-4",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
      {
        link: "#",
        img: {
          name: "course-2",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oфлайн",
        start: "12 февраля",
        title: "Мастер удаления зубов",
        description: "Офис-курс для стоматологов с&nbsp;открытыми операциями. Опыт 12-ти лет за&nbsp;один день!",
        speakers: [
          {
            name: "Иван<br>Курдюмов",
            img: {
              name: "image-author-4",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
      {
        link: "#",
        img: {
          name: "course-3",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oфлайн",
        start: "19, 20 марта",
        title: "Протезирование молочек и&nbsp;постоянных",
        description: "Практический курс для детских стоматологов с&nbsp;видеотрансляцией операций",
        speakers: [
          {
            name: "Варвара<br>Висленко",
            img: {
              name: "image-author-1",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
          {
            name: "Ксения<br>Акмуллина",
            img: {
              name: "image-author-5",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
      {
        link: "#",
        img: {
          name: "course-1",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oнлайн",
        start: "старт в&nbsp;любой момент",
        title: "Мастер имлантологии, 1-й цикл",
        description: "Это уникальный курс, который закроет все вопросы, связанные с&nbsp;имплантацией",
        speakers: [
          {
            name: "Иван<br>Курдюмов",
            img: {
              name: "image-author-4",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
  ]

  const cardsContent4 = [
      {
        link: "#",
        img: {
          name: "course-3",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oфлайн",
        start: "19, 20 марта",
        title: "Протезирование молочек и&nbsp;постоянных",
        description: "Практический курс для детских стоматологов с&nbsp;видеотрансляцией операций",
        speakers: [
          {
            name: "Варвара<br>Висленко",
            img: {
              name: "image-author-1",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
          {
            name: "Ксения<br>Акмуллина",
            img: {
              name: "image-author-5",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
      {
        link: "#",
        img: {
          name: "course-1",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oнлайн",
        start: "старт в&nbsp;любой момент",
        title: "Мастер имлантологии, 1-й цикл",
        description: "Это уникальный курс, который закроет все вопросы, связанные с&nbsp;имплантацией",
        speakers: [
          {
            name: "Иван<br>Курдюмов",
            img: {
              name: "image-author-4",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
      {
        link: "#",
        img: {
          name: "course-2",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oфлайн",
        start: "12 февраля",
        title: "Мастер удаления зубов",
        description: "Офис-курс для стоматологов с&nbsp;открытыми операциями. Опыт 12-ти лет за&nbsp;один день!",
        speakers: [
          {
            name: "Иван<br>Курдюмов",
            img: {
              name: "image-author-4",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
    ]

  const cardsContent5 = [
      {
        link: "#",
        img: {
          name: "course-3",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oфлайн",
        start: "19, 20 марта",
        title: "Протезирование молочек и&nbsp;постоянных",
        description: "Практический курс для детских стоматологов с&nbsp;видеотрансляцией операций",
        speakers: [
          {
            name: "Варвара<br>Висленко",
            img: {
              name: "image-author-1",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
          {
            name: "Ксения<br>Акмуллина",
            img: {
              name: "image-author-5",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
      {
        link: "#",
        img: {
          name: "course-1",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oнлайн",
        start: "старт в&nbsp;любой момент",
        title: "Мастер имлантологии, 1-й цикл",
        description: "Это уникальный курс, который закроет все вопросы, связанные с&nbsp;имплантацией",
        speakers: [
          {
            name: "Иван<br>Курдюмов",
            img: {
              name: "image-author-4",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
    ]



mixin master-classes()
  section.master-classes
    .container
      h2.title.title--h2.title--center мастер-классы для&nbsp;стоматологов
      ul.courses-block.courses-block--center
        each item in cardsContent4
          if(item.isBig)
            li.courses-block__item(class=item.mod ? `courses-block__item--${item.mod}` : null)
              +card-course(item)
          else
            li.courses-block__item
              +card-course(item)
  section.master-classes
    .container
      h2.title.title--h2.title--center курсы для управляющих и&nbsp;главврачей
      ul.courses-block.courses-block--center
        each item in cardsContent5
          if(item.isBig)
            li.courses-block__item(class=item.mod ? `courses-block__item--${item.mod}` : null)
              +card-course(item)
          else
            li.courses-block__item
              +card-course(item)
