mixin promo()
  .promo
    +picture("content", "promo", "jpg", "1440", "704", "фотография врача", 767)
    .container
      .promo__content
        +picture("content", "promo-bg", "jpg", "767", "440", "фон")
        p.promo__title
          span.promo__title-decor «
          | Дорогие друзья и&nbsp;коллеги!
        p.promo__text Я&nbsp;искренне хочу, чтобы у&nbsp;нас в&nbsp;стране с&nbsp;каждым днём становилось больше хороших и&nbsp;счастливых докторов и&nbsp;успешных клиник.
        p.promo__text Мы&nbsp;открыты для вас и&nbsp;рады делиться своими наработками, опытом и&nbsp;даже ошибками. Выберите курс и&nbsp;приходите к&nbsp;нам учиться.
        span.promo__name Варвара Висленко
        span.promo__sign Основатель, идеолог и&nbsp;главный врач &laquo;Белой Медведицы&raquo;
