mixin thanks()
  .thanks
    .container
      .thanks__content
        .thanks__info
          h1.title.title--h9 Спасибо за заказ!
          p.thanks__info-order-number Спасибо, ваш заказ №2325 оплачен.
          p.thanks__info-order-note Доступ в личный кабинет с&nbsp;материалами курса мы отправили вам на электронную почту.

        .thanks__widget
          p.thanks__widget-paragraph Подпишитесь на нашу группу ВК, где&nbsp;мы&nbsp;публикуем полезные статьи для&nbsp;стоматологов
          .thanks__widget-item
