extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: rgb(10, 10, 175);
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Главная — index.html",
        src: "index.html"
      },
      {
        name: "Курсы и мастер-классы — courses.html",
        src: "courses.html"
      },
      {
        name: "Индивидуальное обучение — individual.html",
        src: "individual.html"
      },
      {
        name: "Индивидуальное обучение (Бесплатные материалы) — free-materials.html",
        src: "free-materials.html"
      },
      {
        name: "Полезные статьи — articles.html",
        src: "articles.html"
      },
      {
        name: "Бесплатные материалы — card-free.html",
        src: "card-free.html"
      },
      {
        name: "Курс — course.html",
        src: "course.html"
      },
      {
        name: "Курс. Программа курса - 2 вариант — course-2.html",
        src: "course-2.html"
      },
      {
        name: "Курс. Программа курса - 3 вариант — course-3.html",
        src: "course-3.html"
      },
      {
        name: "Спикеры — speakers.html",
        src: "speakers.html"
      },
      {
        name: "Спикер — speaker.html",
        src: "speaker.html"
      },
      {
        name: "Контакты — contacts.html",
        src: "contacts.html"
      },
      {
        name: "Страница статьи — article.html",
        src: "article.html"
      },
      {
        name: "Регулирующие документы — documents.html",
        src: "documents.html"
      },
      {
        name: "Страница 404 — 404.html",
        src: "404.html"
      },
      {
        name: "Страница Спасибо за заказ — thank-you-page.html",
        src: "thank-you-page.html"
      },
    ]

  main
    .container
      +icon("logo", 400, 100)
      h1 Список страниц
      ol
        each page in pages
          li
            a(href= page.src)= page.name
