// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/rubik-400.woff2") format("woff2"),
    url("../fonts/rubik-400.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/rubik-500.woff2") format("woff2"),
    url("../fonts/rubik-500.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-weight: 600;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/rubik-600.woff2") format("woff2"),
    url("../fonts/rubik-600.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/pt-serif-400.woff2") format("woff2"),
    url("../fonts/pt-serif-400.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/pt-serif-700.woff2") format("woff2"),
    url("../fonts/pt-serif-700.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-weight: 400;
  font-style: italic;

  font-display: swap;
  src:
    url("../fonts/pt-serif-italic-400.woff2") format("woff2"),
    url("../fonts/pt-serif-italic-400.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/pt-sans-400.woff2") format("woff2"),
    url("../fonts/pt-sans-400.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/pt-sans-700.woff2") format("woff2"),
    url("../fonts/pt-sans-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/roboto-400.woff2") format("woff2"),
    url("../fonts/roboto-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/roboto-500.woff2") format("woff2"),
    url("../fonts/roboto-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/roboto-700.woff2") format("woff2"),
    url("../fonts/roboto-700.woff") format("woff");
}

@font-face {
  font-family: "Prata";
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url("../fonts/prata-400.woff2") format("woff2"),
    url("../fonts/prata-400.woff") format("woff");
}
