.advantages {
  margin-bottom: 94px;

  @include vp-767 {
    margin-bottom: 58px;
  }

  &__bg {
    position: absolute;
    z-index: -1;

    &--left {
      top: -248px;
      left: -528px;

      transform: rotate(20deg);

      @include vp-1279 {
        top: -255px;
        left: -632px;
      }

      @include vp-767 {
        top: -252px;
        left: -743px;
      }

      svg {
        width: 1152px;
        height: 772px;
      }
    }

    &--right {
      top: -159px;
      right: -278px;

      @include vp-1279 {
        top: -166px;
        right: -467px;
      }

      @include vp-1023 {
        top: 150px;
      }

      @include vp-767 {
        top: 551px;
        right: -515px;
      }

      svg {
        width: 720px;
        height: 723px;

        @include vp-767 {
          width: 800px;
          height: 810px;
        }
      }
    }
  }

  .container {
    position: relative;
  }

  .title {
    margin-bottom: 35px;

    text-align: center;

    @include vp-767 {
      margin-bottom: 6px;
    }
  }

  &__list-courses {
    position: relative;

    display: grid;
    margin: 0 auto 64px;
    padding: 0;

    list-style: none;

    grid-column-gap: 40px;
    grid-template-columns: repeat(2, auto);

    @include vp-767 {
      margin-bottom: 57px;

      grid-column-gap: 0;
      grid-row-gap: 24px;
      grid-template-columns: 1fr;
    }
  }

  .card-img {
    display: flex;
    width: 100%;
    max-width: 560px;
    margin: 0 auto 20px;

    background: $color-alice-blue2;
    border-radius: 4px;

    @include vp-1279 {
      max-width: 460px;
    }

    @include vp-1023 {
      flex-direction: column;
    }

    @include vp-767 {
      margin-bottom: 0;
    }

    &__img {
      width: 200px;

      @include vp-1023 {
        position: relative;

        width: 100%;
        height: 100%;
        max-height: 220px;

        aspect-ratio: 1.6/1;
      }

      @include vp-767 {
        aspect-ratio: 1.77/1;
      }
    }

    img {
      width: 100%;
      height: 100%;

      border-radius: 4px 0 0 4px;

      @include vp-1023 {
        position: absolute;

        border-radius: 4px 4px 0 0;
      }
      object-fit: cover;
    }

    &__info {
      width: 100%;
      max-width: 360px;
      margin: 0;
      padding: 26px 30px;

      font-size: 20px;
      line-height: 28px;

      @include vp-1023 {
        max-width: 100%;
      }

      @include vp-767 {
        padding: 20px 20px 28px;

        font-size: 18px;
        line-height: 24px;
      }
    }

    &__text {
      display: block;

      font-weight: 700;
      font-size: 17px;
      line-height: 28px;
      text-transform: uppercase;
      letter-spacing: 1px;

      @include vp-767 {
        line-height: 24px;
      }
    }
  }

  &__list {
    position: relative;

    display: grid;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;

    list-style: none;

    grid-column-gap: 30px;
    grid-template-columns: minmax(315px, 363px) minmax(315px, 363px) minmax(315px, 363px);

    @include vp-1279 {
      grid-column-gap: 63px;
      grid-template-columns: minmax(285px, 363px) minmax(280px, 363px) minmax(270px, 363px);
    }

    @include vp-1023 {
      grid-column-gap: 0;
      grid-row-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include vp-767 {
      padding-right: 17px;
      padding-left: 17px;

      grid-row-gap: 14px;
      grid-template-columns: auto;
    }
  }

  .item:nth-child(3n) {
    margin-left: 20%;

    @include vp-1279 {
      margin-left: 0;
    }

    @include vp-1023 {
      max-width: 300px;
      margin: 0 auto;

      grid-column: 1/3;
    }

    @include vp-767 {
      max-width: 275px;

      grid-column: 1/1;
    }
  }

  .item {
    margin: 0 auto;

    font-size: 20px;
    line-height: 28px;
    font-family: $ff-pt-serif;

    @include vp-1023 {
      width: 100%;
      max-width: 350px;
    }

    @include vp-767 {
      max-width: 275px;
    }

    p {
      display: flex;
      align-items: flex-end;
      width: 100%;
      max-width: 250px;
      margin: 0;

      font-size: 18px;

      @include vp-1023 {
        margin: 0 auto;
      }

      @include vp-767 {
        margin: 0;
      }
    }

    &__number {
      margin-right: 7px;

      font-weight: 700;
      font-size: 90px;
      line-height: 90px;
      color: $color-iris-blue;
    }
  }
}
