.documents {
  margin-bottom: 78px;

  @include vp-767 {
    margin-bottom: 70px;
  }

  .title--h13 {
    margin-top: 60px;
    margin-bottom: 70px;

    @include vp-767 {
      margin-bottom: 35px;
    }
  }

  &__list {
    max-width: 960px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 32px;
    grid-column-gap: 40px;
    margin: 0 auto 48px;
    padding: 0;
    list-style: none;

    @include vp-767 {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 24px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    width: 100%;
    padding: 22px 30px 16px;

    background-color: $color-azure;
    border-radius: 4px;

    @include vp-767 {
      min-height: 128px;
      padding: 14px 10px;
    }
  }

  &__text {
    margin: 0 0 15px 0;

    font-family: $ff-pt-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
    }
  }

  .link--blue {
    font-family: $ff-rubik;
    font-size: 13px;

    svg {
      width: 18px;
      height: 18px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__btn {
    text-align: center;
  }
}
