mixin picture(path, image, format, width, height, altText, size)
  if (size)
    if (size === 767)
      picture(class!=attributes.class)
          source(type='image/webp', media="(max-width: " + size + "px)", srcset="img/" + path + "/" + image + "-mobile.webp" + ", " + "img/" + path + "/" + image + "-mobile@2x.webp" + " 2x")
          source(type='image/webp', srcset="img/" + path + "/" + image + ".webp" + ", " + "img/" + path + "/" + image + "@2x.webp" + " 2x")
          source(media="(max-width: " + size + "px)", srcset="img/" + path + "/" + image + "-mobile." + format + ", " + "img/" + path + "/" + image + "-mobile@2x." + format + " 2x")
          img(src="img/" + path + "/" + image + "." + format, srcset= "img/" + path + "/" + image + "@2x." + format + " 2x", width= width, height= height, alt= altText)

    if (size === 1023)
      picture(class!=attributes.class)
          source(type='image/webp', media="(max-width: " + size + "px)", srcset="img/" + path + "/" + image + "-tablet.webp" + ", " + "img/" + path + "/" + image + "-tablet@2x.webp" + " 2x")
          source(type='image/webp', srcset="img/" + path + "/" + image + ".webp" + ", " + "img/" + path + "/" + image + "@2x.webp" + " 2x")
          source(media="(max-width: " + size + "px)", srcset="img/" + path + "/" + image + "-tablet." + format + ", " + "img/" + path + "/" + image + "-tablet@2x." + format + " 2x")
          img(src="img/" + path + "/" + image + "." + format, srcset= "img/" + path + "/" + image + "@2x." + format + " 2x", width= width, height= height, alt= altText)

    if (size === 1279)
      picture(class!=attributes.class)
          source(type='image/webp', media="(max-width: " + size + "px)", srcset="img/" + path + "/" + image + "-desktop2.webp" + ", " + "img/" + path + "/" + image + "-desktop2@2x.webp" + " 2x")
          source(type='image/webp', srcset="img/" + path + "/" + image + ".webp" + ", " + "img/" + path + "/" + image + "@2x.webp" + " 2x")
          source(media="(max-width: " + size + "px)", srcset="img/" + path + "/" + image + "-desktop2." + format + ", " + "img/" + path + "/" + image + "-desktop2@2x." + format + " 2x")
          img(src="img/" + path + "/" + image + "." + format, srcset= "img/" + path + "/" + image + "@2x." + format + " 2x", width= width, height= height, alt= altText)
  else
    picture(class!=attributes.class)
      source(type='image/webp', srcset="img/" + path + "/" + image + ".webp" + ", " + "img/" + path + "/" + image + "@2x.webp" + " 2x")
      img(src="img/" + path + "/" + image + "." + format, srcset= "img/" + path + "/" + image + "@2x." + format + " 2x", width= width, height= height, alt= altText)
