-
  const advantagesContentCard = [
    {
      img: {
        path: "content",
        image: "course-main-1",
        format: "jpg",
        width: "200",
        height: "192",
        altText: "Человек",
        size: 1023,
      },
      highlight: "курсы для начинающих и опытных специалистов",
      text: "детских стоматологов, хирургов, ортопедов и ортодонтов.",
    },
    {
      img: {
        path: "content",
        image: "course-main-2",
        format: "jpg",
        width: "200",
        height: "192",
        altText: "Человек",
        size: 1023,
      },
      highlight: "курсы для управляющих и главных врачей",
      text: "которые хотят вывести бизнес на новый уровень и создать команду мечты.",
    },
  ]

-
  const advantagesContent = [
    {
      number: "289",
      numberText: "участников",
      text: "успешно прошли наши курсы за 2 года",
    },
    {
      number: "34",
      numberText: "клиники",
      text: "регулярно отправляют к нам врачей для повешения квалификации",
    },
    {
      number: "16",
      numberText: "владельцев клиник",
      text: "прошли курс по управлению и увеличили свой доход",
    },
  ]
