-
  const articleContent = {
    author: {
      name: "Варвара Висленко",
      img: "image-author-1",
    },
    date: {
      datetime: "2022-02-17",
      name: "17 февраля 2022",
    },
    title: "Связь между эмоциональным состоянием взрослого и&nbsp;состоянием ребенка&nbsp;/ h1",
    lead: "Лид — первый абзац статьи, информативный отрывок, который захватывает внимание читателя на данном материале. Для этого лид набирают шрифтом большего кегля.",
    img: {
      name: "article-1",
      alt: "Alt-text изображения",
      caption: "Подпись к изображению может быть длинной и занимать две строки",
    },
    text: [
      "Ребенок рождается полностью зависимым от&nbsp;взрослого, его самая главная задача&nbsp;&mdash; выжить. Эти два условия&nbsp;&mdash; выживание и&nbsp;зависимость, а&nbsp;также незрелость мозга и&nbsp;отсутствие логического мышления в&nbsp;раннем возрасте, сделали ребенка очень настроенным на&nbsp;значимого взрослого и&nbsp;его эмоциональное состояние.",
      "До&nbsp;двух-трехлетнего возраста ребенок не&nbsp;ощущает себя отдельным человеком, он&nbsp;находится в&nbsp;слиянии со&nbsp;своим взрослым, чаще всего это мама. В&nbsp;этом возрасте чувствительность особенно развита, чтобы подстроиться под эмоциональное состояние взрослого и&nbsp;таким образом обеспечить себе выживание.",
      {
        h2: "Многострочный заголовок для&nbsp;проверки&nbsp;/ h2",
      },
      "В&nbsp;дошкольном возрасте несмотря на&nbsp;сильно развитую чувствительность, распознавать, а&nbsp;тем более регулировать свои чувства ребенок еще не&nbsp;может. В&nbsp;это время на&nbsp;взрослого ложится двойная нагрузка&nbsp;&mdash; с&nbsp;одной стороны заботится о&nbsp;своем эмоциональном состоянии, а&nbsp;с&nbsp;другой контейнировать чувства ребенка (то&nbsp;есть помогать с&nbsp;ними справляться), а&nbsp;также подробно рассказывать про каждую новую ситуацию.",
      {
        accent: "В&nbsp;дошкольном возрасте несмотря на&nbsp;сильно развитую чувствительность, распознавать, а&nbsp;тем более регулировать свои чувства ребенок еще не&nbsp;может.",
      },
      "Для улучшения эмоционального состояния в&nbsp;нашей клинике во&nbsp;время лечения ребенка в&nbsp;наркозе рядом с&nbsp;родителем находится психолог.",
      {
        h3: "Может пригодится в&nbsp;объемной статье. Эта строка показывает интерлиньяж&nbsp;/ h3",
      },
      "Мы&nbsp;понимаем, что чувства родителя могут быть разные, а&nbsp;также&nbsp;то, что после пробуждения ребенку нужны спокойные мама и&nbsp;папа. Родители могут рассказать психологу о&nbsp;своих волнениях, тревогах, вместе подышать, сделать медитацию, получить поддержку, обсудить вопросы дальнейшей адаптации и&nbsp;любые другие, которые интересуют родителей.",
    ],
    videoData: {
      youtubeId: "ft2X_gXN-Ec",
      title: "видео",
    },
    imgData: {
      img: {
        path: "content",
        image: "preview-video",
        format: "jpg",
        width: "960",
        height: "536",
        altText: "Обложка для видео",
      },
    },
    markedList: [
      "Если пункты списка длинные и&nbsp;представляют собой развернутые предложения, они должны начинаться с&nbsp;прописной буквы и&nbsp;заканчиваться точкой.",
      "Короткий пункт списка;",
      "Если пункты списка короткие, не&nbsp;являются самостоятельной законченной конструкцией и&nbsp;грамматически тесно связаны с&nbsp;предшествующей списку вводной фразой, они должны начинаться со&nbsp;строчной буквы и&nbsp;заканчиваться точкой с&nbsp;запятой (в&nbsp;конце последнего пункта&nbsp;&mdash; точка).",
      "Последний пункт списка.",
    ],
    numberedList: [
      "Если пункты списка длинные и&nbsp;представляют собой развернутые предложения, они должны начинаться с&nbsp;прописной буквы и&nbsp;заканчиваться точкой.",
      "Короткий пункт списка;",
      "Если пункты списка короткие, не&nbsp;являются самостоятельной законченной конструкцией и&nbsp;грамматически тесно связаны с&nbsp;предшествующей списку вводной фразой, они должны начинаться со&nbsp;строчной буквы и&nbsp;заканчиваться точкой с&nbsp;запятой (в&nbsp;конце последнего пункта&nbsp;&mdash; точка).",
      "Последний пункт списка.",
    ],
    table: {
      head: [
        "Услуга", "Врач", "Цена",
      ],
      body: [
        "КОМПЛЕКСНОЕ ЛЕЧЕНИЕ ЗУБОВ / подзаголовок",
        [
          "Комплексная консультация двух и более специалистов",
          "М. Гогуев, А. Вадахов",
          "от 3500 ₽",
        ],
        [
          "Диагностика (Депрограмматор Коиса, определение центрального соотношения, лицевая дуга)",
          "К. Акмуллина",
          "25 000 ₽",
        ],
        [
          "Цельнокерамические виниры",
          "В. Висленко",
          "37 000 ₽",
        ],
        [
          "Эстетико-функциональное восстановление зуба искусственной коронкой на основе диоксида циркония",
          "В. Висленко",
          "от 50 000 ₽",
        ],
        "Хирургия / подзаголовок",
        [
          "Зубосохраняющая операция (апикальная хирургия)",
          "И. Курдюмов",
          "37 000 ₽",
        ],
        [
          "Синус-лифтинг открытый с учетом материалов 1 зона",
          "И. Курдюмов",
          "от 61 700 ₽",
        ],
        [
          "Костная пластика в области 1 зуба",
          "М. Гогуев",
          "от 37 000 ₽",
        ],
      ],
    },
    cards: [
      {
        href: "#",
        linkText: "Читать далее",
        img: {
          name: "image-article-1",
          format: "jpg",
          width: 360,
          height: 200,
          alt: "",
        },
        title: "40&nbsp;идей для stories на&nbsp;каждый день в&nbsp;блоге врача-стоматолога",
        description: "Чтобы удержать текущих и&nbsp;привлечь новых подписчиков&nbsp;&mdash; потенциальных клиентов",
        authors: [
          {
            name: "Варвара<br>Висленко",
            img: {
              name: "image-author-1",
              format: "jpg",
              width: 56,
              height: 56,
              alt: "Фото спикера",
            },
          },
        ],
      },
      {
        href: "#",
        linkText: "Читать далее",
        img: {
          name: "image-article-2",
          format: "jpg",
          width: 360,
          height: 200,
          alt: "",
        },
        title: "Краткая инструкция: как раскрутить клинику в&nbsp;инстаграме",
        description: "Чтобы удержать текущих и&nbsp;привлечь новых подписчиков&nbsp;&mdash; потенциальных клиентов",
        authors: [
          {
            name: "Варвара<br>Висленко",
            img: {
              name: "image-author-1",
              format: "jpg",
              width: 56,
              height: 56,
              alt: "Фото спикера",
            },
          },
        ],
      },
      {
        href: "#",
        linkText: "Читать далее",
        img: {
          name: "image-article-3",
          format: "jpg",
          width: 360,
          height: 200,
          alt: "",
        },
        title: "Первичная консультация на&nbsp;детском приеме: время, объем и&nbsp;нюансы",
        description: "Что ожидают родители, которые пришли на&nbsp;прием к&nbsp;стоматологу с&nbsp;ребенком?",
        authors: [
          {
            name: "Елизавета<br>Александрова",
            img: {
              name: "image-author-2",
              format: "jpg",
              width: 56,
              height: 56,
              alt: "Фото спикера",
            },
          },
        ],
      },
    ]

  }
