-
  var cardArticles = {
        title: {
          text: `Полезные статьи`,
        },
        cards: [
          {
            isBig: true,
            mod: "big",
            href: "#",
            linkText: "Читать далее",
            img: {
              name: "image-free-materials-main",
              format: "jpg",
              width: 760,
              height: 432,
              alt: "",
              size: 1279,
          },
          title: "40&nbsp;идей для stories на&nbsp;каждый день в&nbsp;блоге врача-стоматолога",
          description: "Чтобы удержать текущих и&nbsp;привлечь новых подписчиков&nbsp;&mdash; потенциальных клиентов",
          authors: [
            {
              name: "Варвара<br>Висленко",
              img: {
                name: "image-author-1",
                format: "jpg",
                width: 48,
                height: 48,
                alt: "Фото спикера",
              },
            },
          ],
        },
        {
          href: "#",
          linkText: "Читать далее",
          img: {
            name: "image-article-1",
            format: "jpg",
            width: 360,
            height: 200,
            alt: "",
          },
          title: "40&nbsp;идей для stories на&nbsp;каждый день в&nbsp;блоге врача-стоматолога",
          description: "Чтобы удержать текущих и&nbsp;привлечь новых подписчиков&nbsp;&mdash; потенциальных клиентов",
          authors: [
            {
              name: "Варвара<br>Висленко",
              img: {
                name: "image-author-1",
                format: "jpg",
                width: 56,
                height: 56,
                alt: "Фото спикера",
              },
            },
          ],
        },
        {
          href: "#",
          linkText: "Читать далее",
          img: {
            name: "image-article-2",
            format: "jpg",
            width: 360,
            height: 200,
            alt: "",
          },
          title: "Краткая инструкция: как раскрутить клинику в&nbsp;инстаграме",
          description: "Чтобы удержать текущих и&nbsp;привлечь новых подписчиков&nbsp;&mdash; потенциальных клиентов",
          authors: [
            {
              name: "Варвара<br>Висленко",
              img: {
                name: "image-author-1",
                format: "jpg",
                width: 56,
                height: 56,
                alt: "Фото спикера",
              },
            },
          ],
        },
        {
          href: "#",
          linkText: "Читать далее",
          img: {
            name: "image-article-3",
            format: "jpg",
            width: 360,
            height: 200,
            alt: "",
          },
          title: "Первичная консультация на&nbsp;детском приеме: время, объем и&nbsp;нюансы",
          description: "Что ожидают родители, которые пришли на&nbsp;прием к&nbsp;стоматологу с&nbsp;ребенком?",
          authors: [
            {
              name: "Елизавета<br>Александрова",
              img: {
                name: "image-author-2",
                format: "jpg",
                width: 56,
                height: 56,
                alt: "Фото спикера",
              },
            },
          ],
        },
        {
          href: "#",
          linkText: "Читать далее",
          img: {
            name: "image-article-2",
            format: "jpg",
            width: 360,
            height: 200,
            alt: "",
          },
          title: "Краткая инструкция: как раскрутить клинику в&nbsp;инстаграме",
          description: "Чтобы удержать текущих и&nbsp;привлечь новых подписчиков&nbsp;&mdash; потенциальных клиентов",
          authors: [
            {
              name: "Варвара<br>Висленко",
              img: {
                name: "image-author-1",
                format: "jpg",
                width: 56,
                height: 56,
                alt: "Фото спикера",
              },
            },
          ],
        },
        {
          href: "#",
          linkText: "Читать далее",
          img: {
            name: "image-article-3",
            format: "jpg",
            width: 360,
            height: 200,
            alt: "",
          },
          title: "Первичная консультация на&nbsp;детском приеме: время, объем и&nbsp;нюансы",
          description: "Что ожидают родители, которые пришли на&nbsp;прием к&nbsp;стоматологу с&nbsp;ребенком?",
          authors: [
            {
              name: "Елизавета<br>Александрова",
              img: {
                name: "image-author-2",
                format: "jpg",
                width: 56,
                height: 56,
                alt: "Фото спикера",
              },
            },
          ],
        },
        {
          href: "#",
          linkText: "Читать далее",
          img: {
            name: "image-article-1",
            format: "jpg",
            width: 360,
            height: 200,
            alt: "",
          },
          title: "40&nbsp;идей для stories на&nbsp;каждый день в&nbsp;блоге врача-стоматолога",
          description: "Чтобы удержать текущих и&nbsp;привлечь новых подписчиков&nbsp;&mdash; потенциальных клиентов",
          authors: [
            {
              name: "Варвара<br>Висленко",
              img: {
                name: "image-author-1",
                format: "jpg",
                width: 56,
                height: 56,
                alt: "Фото спикера",
              },
            },
          ],
        },
        {
          href: "#",
          linkText: "Читать далее",
          img: {
            name: "image-article-1",
            format: "jpg",
            width: 360,
            height: 200,
            alt: "",
          },
          title: "40&nbsp;идей для stories на&nbsp;каждый день в&nbsp;блоге врача-стоматолога",
          description: "Чтобы удержать текущих и&nbsp;привлечь новых подписчиков&nbsp;&mdash; потенциальных клиентов",
          authors: [
            {
              name: "Варвара<br>Висленко",
              img: {
                name: "image-author-1",
                format: "jpg",
                width: 56,
                height: 56,
                alt: "Фото спикера",
              },
            },
          ],
        },
        {
          href: "#",
          linkText: "Читать далее",
          img: {
            name: "image-article-2",
            format: "jpg",
            width: 360,
            height: 200,
            alt: "",
          },
          title: "Краткая инструкция: как раскрутить клинику в&nbsp;инстаграме",
          description: "Чтобы удержать текущих и&nbsp;привлечь новых подписчиков&nbsp;&mdash; потенциальных клиентов",
          authors: [
            {
              name: "Варвара<br>Висленко",
              img: {
                name: "image-author-1",
                format: "jpg",
                width: 56,
                height: 56,
                alt: "Фото спикера",
              },
            },
          ],
        },
        {
          href: "#",
          linkText: "Читать далее",
          img: {
            name: "image-article-3",
            format: "jpg",
            width: 360,
            height: 200,
            alt: "",
          },
          title: "Первичная консультация на&nbsp;детском приеме: время, объем и&nbsp;нюансы",
          description: "Что ожидают родители, которые пришли на&nbsp;прием к&nbsp;стоматологу с&nbsp;ребенком?",
          authors: [
            {
              name: "Елизавета<br>Александрова",
              img: {
                name: "image-author-2",
                format: "jpg",
                width: 56,
                height: 56,
                alt: "Фото спикера",
              },
            },
          ],
        },
      ],
  }
