-
  var contacts = {
    pageTitle: "Контакты",
    clinicName: "Учебный центр &laquo;Белая Медведица&raquo;",

    address: {
      title: "адрес клиники и&nbsp;учебного центра",
      city: "Санкт-Петербург",
      address: "м.&nbsp;Василеостровская 26&#8209;я&nbsp;линия&nbsp;В.О., д.&nbsp;15, корп.&nbsp;2",
      businessСenter: "БЦ&nbsp;&laquo;Биржа&raquo;",
      description: "В&nbsp;пешей доступности есть много хороших гостиниц, в&nbsp;которые на&nbsp;время обучения могут заселиться иногородние студенты",
    },

    phone: {
      title: "телефон",
      content: "+78126057808",
      text: "8 (812) 605-78-08",
    },

    footerPhone: {
      title: "телефон",
      content: "+78123092738",
      text: "812 309-27-38",
    },

    email: {
      title: "эл.почта",
      email: "office@wbdent.ru"},

    schedule: {
      title: "график работы",
      attribute: "Mo-Su 8:00-21:00",
      text: "Ежедневно с&nbsp;8:00 до&nbsp;21:00"
    },


    map: {
      width: "100%",
      height: "528"
    },

    clinicImg: {
      folder: "content",
      name: "clinic",
      format: "png",
      width: "360",
      height: "528",
      alt: "Фото Учебный центр &laquo;Белая Медведица&raquo;"
      },

    mapImg: {
      folder: "content",
      name: "map",
      format: "jpg",
      width: "1440",
      height: "528",
      alt: "Фото клиники Белая медведица"
      }
  }
