-
  var courseBooking = {
    text: "Сейчас самые низкие цены",
    course: {
      title: "Мастер имплантологии",
      date: "29 января",
      speaker: {
        img: {
          folder: "content",
          name: "image-author-4",
          format: "jpg",
          width: "48",
          height: "48",
          alt: "фото спикера",
        },
        name: "Иван <br> Курдюмов",
      }
    }
  }
