-
  var courseBookingCard = {
    allCycle: [
      {
        modifier: "dark",
        structure: "Теория + 2 операции",
        seatsLeft: "2",
        wasSeats: "6",
        newPrice: "50 000",
        oldPrice: "60 000",
      },
      {
        structure: "Только теория",
        seatsLeft: "8",
        wasSeats: "20",
        newPrice: "40 000",
        oldPrice: "50 000",
      },
    ],
    cycle1: [
      {
        modifier: "dark",
        structure: "Теория + 2 операции",
        seatsLeft: "2",
        wasSeats: "6",
        newPrice: "50 000",
        oldPrice: "60 000",
      },
      {
        structure: "Только теория",
        seatsLeft: "8",
        wasSeats: "20",
        newPrice: "40 000",
        oldPrice: "50 000",
      },
    ],
    cycle2: [
      {
        modifier: "dark",
        structure: "Теория + 2 операции",
        seatsLeft: "2",
        wasSeats: "6",
        newPrice: "50 000",
        oldPrice: "60 000",
      },
      {
        structure: "Только теория",
        seatsLeft: "8",
        wasSeats: "20",
        newPrice: "40 000",
        oldPrice: "50 000",
      },
    ],
    cycle3: [
      {
        modifier: "dark",
        structure: "Теория + 2 операции",
        seatsLeft: "2",
        wasSeats: "6",
        newPrice: "50 000",
        oldPrice: "60 000",
      },
      {
        structure: "Только теория",
        seatsLeft: "8",
        wasSeats: "20",
        newPrice: "40 000",
        oldPrice: "50 000",
      },
    ],
  }
