-
  var feedback = [
    {
      text: "Очень интересный курс. Много полезной информации. Подробные ответы на&nbsp;все вопросы. Много позитива, отличное чувство юмора ВА😊 Интересно как для детских врачей, так и&nbsp;для тех, кто планирует ввести наркоз в&nbsp;практику клиники!",
      author: {
        img: {
          folder: "content",
          name: "user-1",
          format: "jpg",
          width: "56",
          height: "56",
          alt: "аватар",
        },
        name: "Андрей",
        nickname: "@ivanov-novadent",
      },
    },
    {
      text: "Очень здорово и&nbsp;информативно, без&nbsp;занудства. Много примеров из&nbsp;собственного опыта.",
      author: {
        img: {
          folder: "content",
          name: "user-2",
          format: "jpg",
          width: "56",
          height: "56",
          alt: "аватар",
        },
        name: "Тульцева Карина",
        nickname: "@ivanov-novadent",
      },
    },
    {
      text: "Очень здорово и&nbsp;информативно, без&nbsp;занудства. Много примеров из&nbsp;собственного опыта.",
      author: {
        img: {
          folder: "content",
          name: "user-3",
          format: "jpg",
          width: "56",
          height: "56",
          alt: "аватар",
        },
        name: "Сергей",
        nickname: "@ivanov-novadent",
      },
    },
  ]
