-
  const coursesList = [
    {
      link: 'Современный подход ортопеда и&nbsp;хирурга в&nbsp;восстановлении зубов на&nbsp;имплантах all&nbsp;on&nbsp;4, all&nbsp;on&nbsp;6',
      href: 'index.html'
    },
    {
      link: 'Мастер имплантологии',
      href: 'index.html'
    },
    {
      link: 'Минивинты в&nbsp;ортодонтии',
      href: 'index.html'
    },
    {
      link: 'Мастер удаления зубов',
      href: 'index.html'
    },
    {
      link: 'Идеальный помощник зубной феи',
      href: 'index.html'
    },
    {
      link: 'Протезирование молочек и&nbsp;постоянных',
      href: 'index.html'
    },
    {
      link: 'Наркоз, седация: как внедрить в&nbsp;практику?',
      href: 'index.html'
    }
  ];
-
  const articlesList = [
    {
      link: 'Минивинты в&nbsp;ортодонтии',
      href: 'index.html'
    },
    {
      link: 'Как правильно удалять зубы',
      href: 'index.html'
    },
  ];
-
  const author = {

    authorlogo: {
      name: "office-logo",
      width: "29",
      height: "32",
      },

    href: "#",
    made: "Сделано в&nbsp;Бюро Николая Стебунова"
  }
