-
  var freeMaterial = {
      title: `40&nbsp;идей для stories
          на&nbsp;каждый день&nbsp;в блоге
          врача-стоматолога`,
      description: `Чтобы удержать текущих и привлечь новых подписчиков — потенциальных клиентов`,
      folder: `content`,
      name: `image-free-desktop`,
      format: `jpg`,
      width: `560`,
      height: `560`,
      alt: `photo`,
      list: [
        {
          title: `Вечный контент-план`,
          description: `Мы отобрали 40 лучших публикаций, получивших наибольший отклик у читателей. Этого списка вам хватит более чем на месяц, <br> а потом можно будет наполнять те же идеи новым контентом.`,
        },
        {
          title: `Фишки и полезные советы`,
          description: `Рекомендации позволят избежать ошибок новичков и будут готовым шаблоном, который останется только наполнить своим контентом.`,
        },
        {
          title: `Примеры`,
          description: `Живые примеры дадут вам вдохновение при оформлении stories и покажут удачные ракурсы для фото.`,
        },
      ],
  }
