-
  const headerLinksTop = [
    {
      href: "#",
      text: "клиника для взрослых"
    },
    {
      href: "#",
      text: "детский мед. центр"
    },
    {
      href: "#",
      text: "учебный центр"
    },
    {
      href: "#",
      text: "магазин"
    },
  ]

-
  const headerLinksBottom = [
    {
      href: "courses.html",
      text: "Курсы"
    },
    {
      href: "#",
      text: "Расписание"
    },
    {
      href: "individual.html",
      text: "Индивидуальное обучение"
    },
    {
      href: "speakers.html",
      text: "Спикеры"
    },
    {
      href: "free-materials.html",
      text: "Бесплатные материалы"
    },
    {
      href: "articles.html",
      text: "Статьи"
    },
  ]

-
  const headerLinksContacts = [
    {
      href: "contacts.html",
      text: "Контакты"
    },
    {
      modifier: "main-nav__item--tel",
      href: "tel:+78123092738",
      text: "812 309&#8209;27&#8209;38"
    },
  ]
