-
  var individual = [
    {
      img: {
      folder: "content",
      name: "teacher1",
      format: "jpg",
      width: "360",
      height: "664",
      alt: "Ведущий курса",
      size: 767,
      },
      title: "обучение у&nbsp;варвары висленко",
      aboutProgramm: "Программа обучения составляется индивидуально по&nbsp;вашему запросу",
      listDescription: [
        {
          title: "для кого",
          description: ["Индивидуальное обучение руководителей, главных врачей и&nbsp;их&nbsp;заместителей.",
          "Индивидуальное обучение детских стоматологов по&nbsp;интересующим вопросам: от&nbsp;присутствия на&nbsp;приеме до&nbsp;консультации и&nbsp;практики."]
        },
        {
          title: "вы узнаете",
          description: ["Как устроена детская операционная","Как проводится фотопротокол",
          "Что необходимо для планирования лечения ребёнка любого возраста",
          "Как общаться с родителями"]
        },

        {
          title: "а также",
          description: ["Увидите детскую эндодонтию и&nbsp;протезирование",
          "Получите ответы на&nbsp;все вопросы лично от&nbsp;Варвары Висленко"]
        }
      ],
      listSpecification: [
        {
          specification: "длительность",
          value: "1 день",
          paymentFlag: false
        },
        {
          specification: "Дата проведения",
          value: "по запросу",
          paymentFlag: false
        },
        {
          specification: "Группа",
          value: "1–2 человека",
          paymentFlag: false
        },
        {
          specification: "стоимость",
          value: "50&nbsp;000 ₽",
          paymentFlag: true
        }
      ]
    },
    {
      //- modificator: "--teacher2",
      modificator: "--reverse",
      img: {
      folder: "content",
      name: "teacher2",
      format: "jpg",
      width: "360",
      height: "552",
      alt: "Ведущий курса",
      size: 767,
      },
      title: "Обучение у&nbsp;Ивана Курдюмова",
      aboutProgramm: "Вы&nbsp;сможете присутствовать на&nbsp;приеме и&nbsp;наблюдать за&nbsp;работой в&nbsp;течение всего дня",
      listDescription: [
        {
          title: "для кого",
          description: ["Для тех, кто хочет обучиться комплексному подходу к&nbsp;лечению взрослых пациентов и внедрить лечение в&nbsp;ЗАКС и&nbsp;в&nbsp;общей анестезии."]
        },
        {
          title: "темы",
          description: ["Темы составляются индивидуально по&nbsp;запросу."]
        },
        {
          title: "а также",
          description: ["Увидите детскую эндодонтию и&nbsp;протезирование",
          "Получите ответы на&nbsp;все вопросы лично от&nbsp;Варвары Висленко"]
        }
      ],
      listSpecification: [
        {
          specification: "длительность",
          value: "1 день",
          paymentFlag: false
        },
        {
          specification: "Дата проведения",
          value: "по запросу",
          paymentFlag: false
        },
        {
          specification: "стоимость для одного человека",
          value: "40&nbsp;000 ₽",
          paymentFlag: true
        },
        {
          specification: "стоимость для двух человек",
          value: "60&nbsp;000 ₽",
          paymentFlag: true
        }
      ]
    },
    {
      img: {
      folder: "content",
      name: "teacher3",
      format: "jpg",
      width: "360",
      height: "544",
      alt: "Ведущий курса",
      size: 767,
      },
      title: "обучение у&nbsp;любого доктора в&nbsp;клиниках &laquo;Белой Медведицы&raquo;",
      aboutProgramm: "Вы&nbsp;сможете присутствовать на&nbsp;любом приёме и&nbsp;наблюдать за&nbsp;работой докторов любой специальности.",
      listDescription: [
        {
          title: "для кого",
          description: ["Для тех, кто хочет обучиться комплексному подходу к&nbsp;лечению взрослых пациентов и внедрить лечение в&nbsp;ЗАКС и&nbsp;в&nbsp;общей анестезии."]
        },
        {
          title: "Кураторы",
          description: [
            "Ортопедический приём: Марат Гогуев",
            "Хирургический приём: Алим Вадахов",
            "Ортодонтический приём: Лиана Мхитарян",
            "Терапевтический приём с микроскопом: Марина Запольская",
            "Детский приём: Ксения Акмуллина",
            "Анестезиология: Евгений Гречанинов, Иван Якунин, Владимир Никифоров"]
        }
      ],
      listSpecification: [
        {
          specification: "длительность",
          value: "1 день",
          paymentFlag: false
        },
        {
          specification: "Дата проведения",
          value: "по запросу",
          paymentFlag: false
        },
        {
          specification: "Группа",
          value: "1–2 человека",
          paymentFlag: false
        },
        {
          specification: "стоимость",
          value: "20&nbsp;000 ₽",
          paymentFlag: true
        }
      ]
    }
  ]
