-
  var invitation = {
    video: "ft2X_gXN-Ec",
    img: {
      path: "content",
      image: "preview-video",
      format: "jpg",
      width: "960",
      height: "536",
      altText: "фото врача",
    },
    text: [
      "Коллеги и&nbsp;друзья, спешим пригласить вас на&nbsp;наш курс по&nbsp;восстановлению зубов по&nbsp;методике &laquo;All on&nbsp;4&raquo; и&nbsp;&laquo;All on&nbsp;6&raquo;.",
      "Мы&nbsp;разберем подробно несколько клинических случаев, покажем все плюсы и&nbsp;преимущества цифровой стоматологии, научим создавать навигационные хирургические шаблоны.",
      "Вы&nbsp;научитесь правильно планировать и&nbsp;реализовывать даже самые сложные случаи. Вас также ждет онлайн трансляция операции. ",
      "Курс состоится 9&nbsp;июля в&nbsp;клинике &laquo;Белая медведица&raquo;, бизнес-центр &laquo;Биржа&raquo;. Количество мест ограничено&nbsp;&mdash; поторопитесь.",
    ]
  }
