-
  const processContent = [
    {
      info: "офлайн",
      title: "Лекции",
      text: "Лекции проходят в&nbsp;клинике в&nbsp;БЦ&nbsp;&laquo;Биржа&raquo; на&nbsp;Васильевском острове. Максимум Х участников.",
      color: "red",
    },
    {
      title: "Прямой эфир операций",
      text: "На&nbsp;офлайн курсах мы&nbsp;открыто показываем как мы&nbsp;проводим операции. Всё как есть, без кропа ошибок и&nbsp;осложнений. Комментируем каждый этап и&nbsp;каждое действие.",
    },
    {
      title: "Сертификат",
      text: "После успешного прохождения курса выдаем сертификат.",
    },
  ]

-
  const processContent2 = [
    {
      info: "онлайн",
      title: "Уроки в записи",
      text: "Удобная онлайн-платформа. Доступ на&nbsp;1&nbsp;год к&nbsp;материалам и&nbsp;обновлениям курса.",
      color: "blue",
    },
    {
      title: "Обратная связь",
      text: "Вы&nbsp;можете задать вопросы в&nbsp;личном кабинете и&nbsp;получить ответы от&nbsp;преподавателя",
    },
  ]

-
  const processSlides = [
    {
      img: {
        path: "slides",
        image: "main-slide-1",
        format: "jpg",
        width: "360",
        height: "240",
        altText: "Процесс обучения",
      },
      mod: "horizontal",
    },
    {
      img: {
        path: "slides",
        image: "main-slide-2",
        format: "jpg",
        width: "260",
        height: "336",
        altText: "Процесс обучения",
      },
      mod: "vertical",
    },
    {
      img: {
        path: "slides",
        image: "main-slide-3",
        format: "jpg",
        width: "360",
        height: "240",
        altText: "Процесс обучения",
      },
      mod: "horizontal",
    },
    {
      img: {
        path: "slides",
        image: "main-slide-4",
        format: "jpg",
        width: "260",
        height: "336",
        altText: "Процесс обучения",
      },
      mod: "vertical",
    },
    {
      img: {
        path: "slides",
        image: "main-slide-3",
        format: "jpg",
        width: "360",
        height: "240",
        altText: "Процесс обучения",
      },
      mod: "horizontal",
    },
  ]
