-
  var programCourse = {
    program: [
      {
        title: "Теория",
        bold: "Вы&nbsp;получите фундаментальные знания,",
        text: " научитесь планировать и&nbsp;реализовывать сложные планы лечения. Мы&nbsp;вместе пройдем путь от&nbsp;консультации и&nbsp;разреза до&nbsp;получения&nbsp;долгосрочного идеального результата.",
      },
      {
        title: "Практика",
        bold: "Вы&nbsp;сможете увидеть живые операции,<br>",
        text: "узнать &laquo;фишки&raquo; и&nbsp;лайфхаки.",
      },
    ],
    detailed: [
      {
        title: "Цикл 1",
        list: [
          {
            title: "теория",
            item: [
              "Имплантация в боковом отделе",
              "Имплантация в переднем отделе",
              "Мягкотканная аугментация",
            ],
          },
          {
            title: "практика",
            item: [
              "Открытые операции + обсуждение",
            ],
          }
        ],
      },
      {
        title: "Цикл 2",
        list: [
          {
            title: "теория",
            item: [
              "Костная аугментация",
              "Синус-лифтинг",
              "Одномоментная имплантация",
            ],
          },
          {
            title: "практика",
            item: [
              "Открытые операции + обсуждение",
            ],
          }
        ],
      },
      {
        title: "Цикл 3",
        list: [
          {
            title: "теория",
            item: [
              "Закрытие рецессий",
              "Клиническое удлинение",
              "Навигационная хирургия",
              "Осложнения и работа с ними",
            ],
          },
          {
            title: "практика",
            item: [
              "Открытые операции + обсуждение",
            ],
          }
        ],
      },
    ],
  }

-
  var programCourse2 = {
    program: [
      {
        title: "Теория",
        text: "Вы&nbsp;получите фундаментальные знания, научитесь планировать и&nbsp;реализовывать сложные планы лечения. Мы&nbsp;вместе пройдем путь от&nbsp;консультации и&nbsp;разреза до&nbsp;получения долгосрочного идеального результата.",
      },
      {
        title: "Практика",
        text: "Вы&nbsp;сможете увидеть живые операции, узнать &laquo;фишки&raquo; и&nbsp;лайфхаки.",
      },
    ],
    detailed: [
      {
        title: "Консультация",
        list: [
          {
            title: "теория",
            item: [
              "Алгоритм проведения первичной консультации для построения доверия с&nbsp;пациентом.",
              "Разговор по&nbsp;телефону: как направить пациента к&nbsp;доктору, который сможет ему помочь. Экономим ваше время и&nbsp;время пациентов.",
              "Постановка диагноза на&nbsp;основе анамнеза.",
              "Работа с&nbsp;ДКТ для врача-стоматолога: на&nbsp;что обращать внимание; кариес; передонтиты; суставы; пазухи; остиомеатальный комплекс (соустия); расположение зубов по&nbsp;отношению к&nbsp;анатомически значимым структурам.",
              "Интересные и&nbsp;редкие находки на&nbsp;ДКТ из&nbsp;моей практики.",
              "Показания к&nbsp;удалению. Разберем когда можно и&nbsp;нужно сохранить зубы. Когда нужно сохранить зубы временно.",
            ],
          },
          {
            title: "РЕЗУЛЬТАТ",
            item: [
              "Уверенно проводите консультацию.",
              "Если у&nbsp;пациента есть показания к&nbsp;удалению, грамотно это аргументируете понятным языком.",
              "Легко &laquo;читаете&raquo; ДКТ и&nbsp;на&nbsp;её&nbsp;основании учитываете индивидуальные анатомические особенности при удалении.",
              "Уверены, что защищены юридически с&nbsp;помощью ИДС, составленного юристами.",
            ],
          },
          {
            title: "Бонус",
            item: [
              "Открытые операции + обсуждение",
            ],
          },
        ],
      },
      {
        title: "Организация анестезиологического приема",
        list: [
          {
            title: "теория",
            item: [
              "Лицензирование",
              "Техническое обеспечение, его возможные варианты и&nbsp;проблемы",
              "Экономическая составляющая для клиники и&nbsp;врача",
            ],
          },
        ]
      },
    ],
  }

-
  var programCourse3 = {
    detailed: [
      {
        list: [
          {
            title: "теория",
            item: [
              "Психологические аспекты работы ассистента на&nbsp;детском приеме",
              "Организация детского приема",
              "Терапевтическое и&nbsp;хирургическое лечение детей в&nbsp;сознании",
              "Закись азота и&nbsp;наркоз: особенности приема и&nbsp;подготовки",
            ]
          },
          {
            title: "практика",
            item: [
              "Узнаете как в&nbsp;нашей клинике работают с&nbsp;пациентами в&nbsp;сознании, в&nbsp;ЗАКС и&nbsp;в&nbsp;наркозе",
            ]
          },
        ],
      },
    ],
  }
