-
  var promotion = {
    title: "Восстановление зубов на&nbsp;имплантах all on&nbsp;4, all on&nbsp;6",
    list: [
      "Курс для решения сложных клинических ситуаций",
      "Современный подход ортопеда и&nbsp;хирурга",
      "Онлайн-трансляция операции",
    ],
    when: {
      dataList: {
        icon: {
          iconName: "calendar",
          iconWidth: 32,
          iconHeight: 30,
        },
        list: [
          "29, 30 января",
          "12, 13 марта",
          "16, 17 апреля",
        ]
      },
      address: {
        icon: {
          iconName: "pin",
          iconWidth: 20,
          iconHeight: 29,
        },
        text: "26-я линия Васильевского <br> острова, 15&nbsp;корп.&nbsp;2, <br> БЦ&nbsp;&laquo;Биржа&raquo;",
      },
      time: {
        icon: {
          iconName: "time",
          iconWidth: 34,
          iconHeight: 36,
        },
        text: "9:00—17:00",
      }
    },
    img: {
      folder: "content",
      name: "promotion-course",
      format: "jpg",
      width: "740",
      height: "811",
      alt: "фото врача за работой",
    }
  }
