-
  var reviews = [
    {
      video: "ft2X_gXN-Ec", //заменить ссылку
      img: {
        path: "content",
        image: "reviews",
        format: "jpg",
        width: "960",
        height: "536",
        altText: "видео отзыв",
      },
      text: "Каждый день на&nbsp;меня подписываются новые люди. Часть этих людей&nbsp;&mdash; это мои будущие клиенты, которые хотят лечиться именно у&nbsp;меня.",
      author: "Иванова А.",
    },
    {
      video: "ft2X_gXN-Ec", //заменить ссылку
      img: {
        path: "content",
        image: "reviews",
        format: "jpg",
        width: "960",
        height: "536",
        altText: "видео отзыв",
      },
      text: "Каждый день на&nbsp;меня подписываются новые люди. Часть этих людей&nbsp;&mdash; это мои будущие клиенты, которые хотят лечиться именно у&nbsp;меня.",
      author: "Иванова А.",
    },
  ]
