-
  var scheduleСourse = [
    {
      time: "9:00—9:30",
      text: [
        {
          text: "Регистрация",
          modify: "italic",
        },
      ],
    },
    {
      time: "9:30—11:00",
      text: [
        {
          text: "Лекция",
          modify: "bold",
        },
      ],
    },
    {
      time: "11:00—12:00",
      text: [
        {
          text: "Открытая операция",
          modify: "bold",
        },
      ],
    },
    {
      time: "12:00—13:30",
      text: [
        {
          text: "Лекция",
          modify: "bold",
        },
      ],
    },
    {
      time: "13:30—14:00",
      text: [
        {
          text: "Обед/кофе-брейк",
          modify: "italic",
        },
      ],
    },
    {
      time: "14:00—15:00",
      modify: "schedule-course__item--border-top",
      text: [
        {
          text: "Открытая операция",
          modify: "bold",
        },
      ],
    },
    {
      time: "15:00—16:30",
      text: [
        {
          text: "Лекция",
          modify: "bold",
        },
      ],
    },
    {
      time: "16:30—17:00",
      text: [
        {
          text: "Обед/кофе-брейк",
          modify: "italic",
        },
      ],
    },
    {
      time: "17:00—18:30",
      text: [
        {
          text: "Лекция",
          modify: "bold",
        },
      ],
    },
    {
      time: "18:30—19:00",
      text: [
        {
          text : "Обсуждение",
          modify: "bold",
        },
        {
          text : "Вручение сертификатов",
          modify: "italic",
        },
      ],
    },
  ]
