-
  const scheduleContent= {
    table: [
      {
        row: {
          tr: [
          "29, 30 января",
          ],
          tr2: [
            "Мастер имплантологии, 1-й цикл",
          ],
          tr3: [
            "Иван Курдюмов",
          ],
          img: {
            path: "content",
            image: "image-author-4",
            format: "jpg",
            width: "48",
            height: "48",
            altText: "Спикеры",
          },
        },
      },
      {
        row: {
          tr: [
          "5 февраля",
          ],
          tr2: [
            "Минивинты в ортодонтии",
          ],
          tr3: [
            "Лиана Мхитарян",
          ],
          img: {
            path: "content",
            image: "image-author-6",
            format: "jpg",
            width: "48",
            height: "48",
            altText: "Спикеры",
          },
        },
      },
      {
        row: {
          tr: [
          "12 февраля",
          ],
          tr2: [
            "Мастер удаления зубов",
          ],
          tr3: [
            "Иван Курдюмов",
          ],
          img: {
            path: "content",
            image: "image-author-4",
            format: "jpg",
            width: "48",
            height: "48",
            altText: "Спикеры",
          },
        },
      },
      {
        row: {
          tr: [
          "19 февраля",
          ],
          tr2: [
            "Идеальный помощник зубной феи",
          ],
          tr3: [
            "Софья Минина",
          ],
          img: {
            path: "content",
            image: "image-author-3",
            format: "jpg",
            width: "48",
            height: "48",
            altText: "Спикеры",
          },
        },
      },
      {
        row: {
          tr: [
          "26, 27 февраля",
          ],
          tr2: [
            "Протезирование молочек и постоянных зубов",
          ],
          tr3: [
            "Варвара Висленко",
          ],
          tr4: [
            "Ксения Акмуллина",
          ],
          img: {
            path: "content",
            image: "image-author-1",
            format: "jpg",
            width: "48",
            height: "48",
            altText: "Спикеры",
          },
          img2: {
            path: "content",
            image: "image-author-5",
            format: "jpg",
            width: "48",
            height: "48",
            altText: "Спикеры",
          },
        },
      },
    ],
  }
