-
  var socialLinks = [
    {
      href: "https://vk.com/club14355812",
      text: "вконтакте",
    },
    {
      href: "https://www.youtube.com/channel/UCLjefV9wXCNOC2SU5y3AlGw/featured",
      text: "youtube",
    },
    {
      href: "https://www.instagram.com/wbdent/",
      text: "instagram",
    },
  ]
