-
  var speakerCourse = {
    nameSpeaker: "Иван Курдюмов",
    img: {
      folder: "content",
      name: "speaker-course",
      format: "jpg",
      width: "960",
      height: "536",
      alt: "фото спикера",
    },
    description: [
      {
        text: "Заместитель главного врача клиники&nbsp;&laquo;Белая&nbsp;Медведица&raquo;, филиал&nbsp;&laquo;Биржа&raquo;",
        aboutTheDoctor: [
          "Врач высшей категории.",
          "Опыт работы: 12 лет.",
          "Врач-стоматолог хирург, имплантолог, пародонтолог.",
          "Специализация&nbsp;&mdash; хирургическая стоматология: имплантация, подготовка костной и&nbsp;мягких тканей к&nbsp;протезированию на&nbsp;имплантатах.",
          "Стажировался в&nbsp;Германии, Австрии, Италии, Франции, Венгрии.",
        ],
      },
      {
        text: "Входит в&nbsp;число основных преподавателей&nbsp;образовательного проекта&nbsp;Ankylos Study Club",
        aboutTheDoctor: [
          "В&nbsp;2019 году награждён медалью &laquo;Отличник стоматологии&raquo; Стоматологической ассоциацией России.",
          "Лектор, который объясняет очень понятным языком.",
          "Обучает хирургов-стоматологов с&nbsp;2015&nbsp;года.",
        ],
      },
    ],
  }
