-
  const speakers=[
    {
      img: {
      folder: "content",
      name: "speaker_1",
      format: "jpg",
      width: "460",
      height: "264",
      alt: "Спикер",
      },
      name: 'Варвара Висленко',
      seniorPosition: 'Главный врач и&nbsp;идеолог клиники<br>&laquo;Белая&nbsp;Медведица&raquo;',
      specializations: ['Практикующий детский стоматолог, хирург.'],
      category: 'Врач высшей категории.',
      experience: 'Опыт работы: 18&nbsp;лет.',
      otherSpecializations: ['Блогер, автор проекта &laquo;Бояться не&nbsp;стыдно&raquo;.'],
      coursesList: ['Протезирование молочек и&nbsp;постоянных',
                    'Наркоз и&nbsp;седация: как внедрить в&nbsp;практику стоматолога любого профиля']
    },
    {
      img: {
      folder: "content",
      name: "speaker_2",
      format: "jpg",
      width: "460",
      height: "264",
      alt: "Спикер",
      },
      name: 'Иван Курдюмов',
      seniorPosition: 'Заместитель главного врача<br>&laquo;Белая&nbsp;Медведица&raquo; в&nbsp;филиале &laquo;Биржа&raquo;',
      specializations: ['Врач-стоматолог хирург, имплантолог, пародонтолог.'],
      category: 'Врач высшей категории.',
      experience: ' Опыт работы: 12&nbsp;лет.',
      otherSpecializations: ['Лектор, который объясняет очень понятным языком.'],
      coursesList: ['Мастер имплантологии', 'Мастер удаления зубов']
    },
    {
      img: {
      folder: "content",
      name: "speaker_3",
      format: "jpg",
      width: "460",
      height: "264",
      alt: "Спикер",
      },
      name: 'Лиана Мхитарян',
      specializations: ['Врач-стоматолог ортодонт клиники &laquo;Белая Медведица&raquo;, консультант компании Flexiligner.'],
      category: 'Врач высшей категории.',
      experience: 'Опыт работы: 10&nbsp;лет.',
      otherSpecializations: [],
      coursesList: ['Минивинты в&nbsp;ортодонтии']
    },
    {
      img: {
      folder: "content",
      name: "speaker_4",
      format: "jpg",
      width: "460",
      height: "264",
      alt: "Спикер",
      },
      name: 'Ксения Акмуллина',
      specializations: ['Врач-стоматолог ортопед, терапевт, детский стоматолог клиники &laquo;Белая Медведица&raquo;.',
      'Осуществляет полноценную комплексную реабилитацию детей любого возраста'],
      category: 'Врач высшей категории.',
      experience: 'Опыт работы: 12&nbsp;лет.',
      otherSpecializations: ['Лектор, который объясняет очень понятным языком.'],
      coursesList: ['Протезирование молочек и&nbsp;постоянных.']
    }
  ]
