-
  const speakerInfo = {
    name: "Иван Курдюмов",
    socialLinks : [
      {
        href: "#",
        text: "Facebook",
      },
      {
        href: "#",
        text: "youtube",
      },
      {
        href: "#",
        text: "instagram",
      },
    ],
    position: "Заместитель главного врача <br>&laquo;Белая Медведица&raquo; в&nbsp;филиале &laquo;Биржа&raquo;",
    description: [
      "Врач-стоматолог хирург, имплантолог, пародонтолог ",
      "Врач высшей категории",
      "Опыт работы: 12&nbsp;лет",
      "&laquo;Много лет назад я&nbsp;влюбился в&nbsp;стоматологию, могу говорить часами о&nbsp;зубах, сложных клинических случаях, вариантах лечения, новых исследованиях и&nbsp;тенденциях Уталяя жажду знаний, посетил всевозможные курсы и&nbsp;семинары в&nbsp;разных странах.",
      "За&nbsp;12&nbsp;лет практически я&nbsp;пришёл к&nbsp;девизу: минимальная хирургия с&nbsp;максимальным результатом.",
      "Я&nbsp;горд быть в&nbsp;команде супер профессионалов &laquo;Белая Медведица&raquo;."
    ],
    education: [
      {
        title: "Базовое образование",
        list: [
          {
            year: "2008",
            name: "Санкт-Петербургский Государственный Университет&nbsp;им. акад. И.П.Павлова. Санкт-Петербург"
          },
          {
            year: "2009",
            name: "Хирургический сертификат. Санкт-Петербург"
          },
        ],
      },
      {
        title: "Конгрессы и стажировки",
        list: [
          {
            year: "2008",
            name: "&laquo;Ротационные технологии&nbsp;&mdash; новый шаг в&nbsp;современной эндодонтии&raquo; СПб Симпозиум &laquo;Современная стоматология&raquo; Особенности эстетической реставрации. Особенности обработки корневых каналов. Техника вертикальной конденсации горячей гуттаперчей. Клинические особенности применения реставрационных материалов. Санкт-Петербург"
          },
          {
            year: "2009",
            name: "Современные методы комплексного лечения заболеваий тканей пародонта. Неотложная помощь при критических состояниях у&nbsp;пациентов в&nbsp;амбулаторной стоматологической практике. Цифровая рентгенография ..."
          },
        ],
        link: "Узнать больше",
      },
    ],
    speakerVideo: [
      {
        title: "Cуть видео",
        comment: "Комментарий к&nbsp;видео. Каждый день на&nbsp;меня подписываются новые люди. Часть из&nbsp;них&nbsp;&mdash; мои будущие клиенты, которые хотят лечиться именно у&nbsp;меня.",
        video: {
          youtubeId: "ft2X_gXN-Ec",
          title: "видео",
        },
        imgData: {
          img: {
          path: "content",
          image: "preview-video",
          format: "jpg",
          width: "960",
          height: "536",
          altText: "Обложка для видео",
          },
        },
      },
      {
        title: "Cуть видео",
        comment: "Комментарий к&nbsp;видео. Каждый день на&nbsp;меня подписываются новые люди. Часть из&nbsp;них&nbsp;&mdash; мои будущие клиенты, которые хотят лечиться именно у&nbsp;меня.",
        video: {
          youtubeId: "NpEaa2P7qZI",
          title: "видео",
        },
        imgData: {
          img: {
          path: "content",
          image: "preview-video",
          format: "jpg",
          width: "960",
          height: "536",
          altText: "Обложка для видео",
          },
        },
      },
    ],
    courses: [
      {
        link: "#",
        img: {
          name: "course-1",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oнлайн",
        start: "Cтарт в любой момент",
        title: "Мастер имлантологии, 1-й цикл",
        description: "Это уникальный курс, который закроет все вопросы, связанные с&nbsp;имплантацией",
        speakers: [
          {
            name: "Иван<br>Курдюмов",
            img: {
              name: "image-author-4",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
      {
        link: "#",
        img: {
          name: "course-2",
          width: 360,
          height: 200,
          alt: "",
        },
        format: "Oфлайн",
        start: "12 февраля",
        title: "Мастер удаления зубов",
        description: "Офис-курс для стоматологов с&nbsp;открытыми операциями. Опыт 12-ти лет за&nbsp;один день!",
        speakers: [
          {
            name: "Иван<br>Курдюмов",
            img: {
              name: "image-author-4",
              width: 48,
              height: 48,
              alt: "Фото спикера",
            },
          },
        ],
      },
    ],
  }
