-
  var whom = [
    {
      icon: {
        iconName: "check-mark",
        iconWidth: 33,
        iconHeight: 33,
      },
      text: "Для хирургов и&nbsp;ортопедов: <br> как для начинающих, так и&nbsp;для опытных",
    },
    {
      icon: {
        iconName: "check-mark",
        iconWidth: 33,
        iconHeight: 33,
      },
      text: "Для тех, кто начинает работать с&nbsp;навигационной имплантацией, с&nbsp;планированием и&nbsp;решением сложных клинических ситуаций",
    },
  ]
