//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Data
include ./data/header-links
include ./data/footer-links
include ./data/social-links
include ./data/promotion
include ./data/individual
include ./data/speakers
include ./data/advantages-content
include ./data/process-content
include ./data/schedule-content
include ./data/whom
include ./data/invitation
include ./data/program-course
include ./data/schedule-course
include ./data/speaker-course
include ./data/card-articles
include ./data/card-materials
include ./data/free-material
include ./data/speaker-info
include ./data/contacts
include ./data/course-booking
include ./data/course-booking-card
include ./data/reviews
include ./data/feedback
include ./data/article-content

//- Blocks

include ./blocks/intro
include ./blocks/individual-intro
include ./blocks/card-individual
include ./blocks/card-free
include ./blocks/free-materials
include ./blocks/articles
include ./blocks/promotion
include ./blocks/speakers
include ./blocks/advantages
include ./blocks/process
include ./blocks/promo
include ./blocks/schedule-block
include ./blocks/whom
include ./blocks/invitation
include ./blocks/program-course
include ./blocks/schedule-course
include ./blocks/speaker-course
include ./blocks/speaker
include ./blocks/contacts
include ./blocks/course-booking
include ./blocks/reviews
include ./blocks/feedback
include ./blocks/main-courses
include ./blocks/article
include ./blocks/page-404
include ./blocks/cards-main
include ./blocks/courses-intro
include ./blocks/tabs
include ./blocks/master-classes
include ./blocks/courses-schedule-block
include ./blocks/map
include ./blocks/documents
include ./blocks/thanks

//- Mixins

include ./mixins/btn
include ./mixins/link
include ./mixins/logo
include ./mixins/breadcrumbs
include ./mixins/social-links
include ./mixins/video
include ./mixins/list
include ./mixins/list-number
include ./mixins/card-article
include ./mixins/pagination
include ./mixins/course-booking-card
include ./mixins/card-img
include ./mixins/video-slider
include ./mixins/card-course
include ./mixins/cards-grid
include ./mixins/courses-block
include ./mixins/custom-input
include ./mixins/custom-radio
include ./mixins/custom-toggle

//- Modals

include ./modals/modal-payment
include ./modals/modal-cashless-payment
